<select>
<option value="<% user.name._id%>"></option>
<option value="<% user.name._id%>"></option>
<option value="<% user.name._id%>"></option>
<option value="<% user.name._id%>"></option>
<option value="<% user.name._id%>"></option>
</select>