<%- include('header') %>
 <div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a><h1>注册</h1></a>
    </div>
  </div>
</div>
  <%- include('components/nav-setting') %>
  <%- include('components/notification') %>


<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment" method="post" enctype="multipart/form-data">
      <div class="field required">
        <label>账号</label>
        <input placeholder="账号" type="text" name="name">
      </div>
      <div class="field required">
        <label>昵称</label>
        <input placeholder="昵称" type="text" name="nick">
      </div>
      <div class="field required">
        <label>密码</label>
        <input placeholder="密码" type="password" name="password">
      </div>
      <div class="field required">
        <label>重复密码</label>
        <input placeholder="重复密码" type="password" name="repassword">
      </div>
      <div class="field required">
        <label>所属院系</label>
        <select class="ui compact selection dropdown" name="rank">
          <option value="0">请选择</option>
          <option value="1">常熟理工</option>
          <option value="2">人文学院</option>
          <option value="3">外国语学院</option>
          <option value="4">艺术与服装工程学院</option>
          <option value="5">生物与食品工程学院</option>
          <option value="6">计算机科学与工程学院</option>
          <option value="7">物理与电子工程学院</option>
          <option value="8">数学与统计学院</option>
          <option value="9">化学与材料工程学院</option>
          <option value="10">机械工程学院</option>
          <option value="11">电气与自动化工程学院</option>
          <option value="12">经济与管理学院</option>
          <option value="13">汽车工程学院</option>
          <option value="14">马克思主义学院</option>
          <option value="15">体育部</option>
        </select>
      </div>
      <div class="field required">
        <label>所属角色</label>
        <select class="ui compact selection dropdown" name="permission">
          <option value="0">请选择</option>
          <option value="1">管理员</option>
          <option value="2">学生</option>
        </select>
      </div>
      <div class="field required">
        <label>头像</label>
        <input type="file" name="avatar">
      </div>
      <div class="field required">
        <label>个人简介</label>
        <textarea name="bio" rows="5" v-model="user.bio"></textarea>
      </div>
      <input type="submit" class="ui button fluid" value="注册">
    </div>
  </form>
</div>

<%- include('footer') %>