/* ---------- 全局样式 ---------- */

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

a:hover {
  border-bottom:0px;
  /*border-bottom: 3px solid #4fc08d;*/
}

.button {
  background-color: #4fc08d !important;
  color: #fff !important;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  /*float: right;*/
}

/* ---------- nav ---------- */

.nav {
  padding: 0 0 0 8px;
  overflow: visible;
  font-size: 21px;
  box-sizing: border-box;
  z-index: 2;
  background-color: #db4437;
  -webkit-box-shadow:0 1px 8px rgba(0,0,0,.3);
  box-shadow:0 1px 8px rgba(0,0,0,.3); 
  position: fixed;
  top: 0;
  width: 100%;
}
.nav1{
  height: 64px;
  display: flex;
  flex-direction: row;
  -webkit-box-orient:horizontal;
  -webkit-box-align:center;
  position: relative;
}
.nav1 p {
  padding: 16px;
  color: #fff;
}

/*.nav h1 {
  color: #4fc08d;
  display: inline-block;
  margin: 10px 0;
}*/

/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  right: 30px;
  top: 18px;
  z-index: 999;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #db4437 !important;
}

.nav-setting .icon.bars {
  color: #fff;
  font-size: 18px;
}

/* ---------- post-content ---------- */
.content{

}
.clearfix{
  zoom:1;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

.post-content{
  float: right;
  width: 75%;
  padding:0 30px;
}
a {
  color: #000;
}

.post-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.post-content .tag.right {
  float: right;
  margin-right: 0;
}

.post-content .tag.right a {
  color: #999;
}
.personal_left{
  float:left;
  width: 25%;
  text-align: left;
  position: fixed;
  top: 64px;
  height: 100%;
}
.personal_left .background{
  height: 119.16px;
}
.personal_left .background img{
  width: 100%;
}
.personal_left .ground{
  background-color: #C6E2FF;
  position: relative;
  padding-left: 11px;
  height: 100%;
}
.personal_left .ground .personal_img{
  position: absolute;
  top: -25px;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  border:2px solid #fff;
}
.personal_left .ground .name{
  padding-top: 50px;
}
.personal_left .ground .name a{
  color: #000;
}
.post .personal_img{
  border-radius: 40px;
  width: 40px;
  height: 40px;
  border:2px solid #fff;
  vertical-align: middle;
}
.post p{
  display: inline-block;
}


.DashboardProfileCard{
  border: 1px solid #e1e8ed;
  background: #fff;
  border-radius: 6px;
}
.module{
  background-clip: padding-box;
  border:0;
  border-radius: 6px;
  line-height: 16px;
  position: relative;
  margin-bottom: 10px;
}

.summary{margin-bottom: 10px; text-align: left; }
.summary.selector{height: auto; } 
.p_short{overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;font-size:14px;text-overflow:ellipsis}


.waterfall {
  padding-top: 72px;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-width: 24em;
  -webkit-column-width: 24em;
  column-width: 24em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  background-color: #f1f1f1;
}
.waterfall .wide{background-color: #f1f1f1;}
.waterfall .wide .segement{box-shadow:0 1px 4px 0 rgba(0,0,0,0.14)}
.pin {
  padding: 1em;
  margin: -1em -1em 1em!important;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  background: white;
}


